
\.DS_Store

\.theos/_/DEBIAN/control

\.theos/_/Library/MobileSubstrate/DynamicLibraries/HomeHijack\.dylib

\.theos/_/Library/MobileSubstrate/DynamicLibraries/HomeHijack\.plist

\.theos/_/Library/PreferenceBundles/homehijackpreferences\.bundle/banner\.png

\.theos/_/Library/PreferenceBundles/homehijackpreferences\.bundle/discord\.png

\.theos/_/Library/PreferenceBundles/homehijackpreferences\.bundle/homehijackpreferences

\.theos/_/Library/PreferenceBundles/homehijackpreferences\.bundle/icon\.png

\.theos/_/Library/PreferenceBundles/homehijackpreferences\.bundle/icon@2x\.png

\.theos/_/Library/PreferenceBundles/homehijackpreferences\.bundle/Info\.plist

\.theos/_/Library/PreferenceBundles/homehijackpreferences\.bundle/patreon\.png

\.theos/_/Library/PreferenceBundles/homehijackpreferences\.bundle/paypal\.png

\.theos/_/Library/PreferenceBundles/homehijackpreferences\.bundle/reddit\.png

\.theos/_/Library/PreferenceBundles/homehijackpreferences\.bundle/Root\.plist

\.theos/_/Library/PreferenceBundles/homehijackpreferences\.bundle/twitter\.png

\.theos/_/Library/PreferenceLoader/Preferences/homehijackpreferences\.plist

\.theos/build_session

\.theos/fakeroot

\.theos/last_package

\.theos/obj/\.stamp

\.theos/obj/arm64/HHIRootListController\.m\.4bdcc51d\.o

\.theos/obj/arm64/HomeHijack\.dylib

\.theos/obj/arm64/HomeHijack\.dylib\.dSYM/Contents/Info\.plist

\.theos/obj/arm64/HomeHijack\.dylib\.dSYM/Contents/Resources/DWARF/HomeHijack\.dylib

\.theos/obj/arm64/homehijackpreferences\.bundle/homehijackpreferences

\.theos/obj/arm64/homehijackpreferences\.bundle/homehijackpreferences\.dSYM/Contents/Info\.plist

\.theos/obj/arm64/homehijackpreferences\.bundle/homehijackpreferences\.dSYM/Contents/Resources/DWARF/homehijackpreferences

\.theos/obj/arm64/Tweak\.xm\.ef9b33bd\.o

\.theos/obj/armv7/HHIRootListController\.m\.7f765a9a\.o

\.theos/obj/armv7/HomeHijack\.dylib

\.theos/obj/armv7/HomeHijack\.dylib\.dSYM/Contents/Info\.plist

\.theos/obj/armv7/HomeHijack\.dylib\.dSYM/Contents/Resources/DWARF/HomeHijack\.dylib

\.theos/obj/armv7/homehijackpreferences\.bundle/homehijackpreferences

\.theos/obj/armv7/homehijackpreferences\.bundle/homehijackpreferences\.dSYM/Contents/Info\.plist

\.theos/obj/armv7/homehijackpreferences\.bundle/homehijackpreferences\.dSYM/Contents/Resources/DWARF/homehijackpreferences

\.theos/obj/armv7/Tweak\.xm\.2b5257a1\.o

\.theos/obj/debug/\.stamp

\.theos/obj/debug/arm64/HHIRootListController\.m\.796a0e92\.o

\.theos/obj/debug/arm64/HomeHijack\.dylib

\.theos/obj/debug/arm64/HomeHijack\.dylib\.dSYM/Contents/Info\.plist

\.theos/obj/debug/arm64/HomeHijack\.dylib\.dSYM/Contents/Resources/DWARF/HomeHijack\.dylib

\.theos/obj/debug/arm64/homehijackpreferences\.bundle/homehijackpreferences

\.theos/obj/debug/arm64/homehijackpreferences\.bundle/homehijackpreferences\.dSYM/Contents/Info\.plist

\.theos/obj/debug/arm64/homehijackpreferences\.bundle/homehijackpreferences\.dSYM/Contents/Resources/DWARF/homehijackpreferences

\.theos/obj/debug/arm64/Tweak\.xm\.f58acf42\.o

\.theos/obj/debug/armv7/HHIRootListController\.m\.d089b08e\.o

\.theos/obj/debug/armv7/HomeHijack\.dylib

\.theos/obj/debug/armv7/HomeHijack\.dylib\.dSYM/Contents/Info\.plist

\.theos/obj/debug/armv7/HomeHijack\.dylib\.dSYM/Contents/Resources/DWARF/HomeHijack\.dylib

\.theos/obj/debug/armv7/homehijackpreferences\.bundle/homehijackpreferences

\.theos/obj/debug/armv7/homehijackpreferences\.bundle/homehijackpreferences\.dSYM/Contents/Info\.plist

\.theos/obj/debug/armv7/homehijackpreferences\.bundle/homehijackpreferences\.dSYM/Contents/Resources/DWARF/homehijackpreferences

\.theos/obj/debug/armv7/Tweak\.xm\.b2ed959b\.o

\.theos/obj/debug/HomeHijack\.dylib

\.theos/obj/debug/homehijackpreferences\.bundle/banner\.png

\.theos/obj/debug/homehijackpreferences\.bundle/discord\.png

\.theos/obj/debug/homehijackpreferences\.bundle/homehijack\.png

\.theos/obj/debug/homehijackpreferences\.bundle/HomeHijackBanner\.png

\.theos/obj/debug/homehijackpreferences\.bundle/homehijackpreferences

\.theos/obj/debug/homehijackpreferences\.bundle/icon\.png

\.theos/obj/debug/homehijackpreferences\.bundle/icon@2x\.png

\.theos/obj/debug/homehijackpreferences\.bundle/Info\.plist

\.theos/obj/debug/homehijackpreferences\.bundle/patreon\.png

\.theos/obj/debug/homehijackpreferences\.bundle/paypal\.png

\.theos/obj/debug/homehijackpreferences\.bundle/reddit\.png

\.theos/obj/debug/homehijackpreferences\.bundle/Root\.plist

\.theos/obj/debug/homehijackpreferences\.bundle/twitter\.png

\.theos/obj/HomeHijack\.dylib

\.theos/obj/homehijackpreferences\.bundle/banner\.png

\.theos/obj/homehijackpreferences\.bundle/discord\.png

\.theos/obj/homehijackpreferences\.bundle/homehijackpreferences

\.theos/obj/homehijackpreferences\.bundle/icon\.png

\.theos/obj/homehijackpreferences\.bundle/icon@2x\.png

\.theos/obj/homehijackpreferences\.bundle/Info\.plist

\.theos/obj/homehijackpreferences\.bundle/patreon\.png

\.theos/obj/homehijackpreferences\.bundle/paypal\.png

\.theos/obj/homehijackpreferences\.bundle/reddit\.png

\.theos/obj/homehijackpreferences\.bundle/Root\.plist

\.theos/obj/homehijackpreferences\.bundle/twitter\.png

\.theos/packages/com\.midnightchips\.homehijack-0\.0\.2

\.theos/packages/
